body{
  margin:0;
  font-family:'Segoe UI';
  background:linear-gradient(135deg,#5f9cff,#8fd3f4);
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 25px;
  background:#111;
  color:white;
}

header button{
  background:red;
  color:white;
  border:none;
  padding:10px 15px;
  border-radius:8px;
}

/* AUTH */
#authBox{
  width:350px;
  margin:80px auto;
  background:white;
  padding:25px;
  border-radius:12px;
  box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

input,select,textarea,button{
  width:100%;
  padding:12px;
  margin-top:12px;
  border-radius:8px;
  border:1px solid #ccc;
}

button{
  background:#5f9cff;
  color:white;
  border:none;
  cursor:pointer;
}

/* LAYOUT */
.container{
  display:flex;
}

/* SIDEBAR */
.sidebar{
  width:220px;
  background:#1f1f1f;
  color:white;
  height:100vh;
  padding:20px;
}

.sidebar div{
  margin-top:10px;
  padding:12px;
  background:#333;
  border-radius:8px;
  cursor:pointer;
}

/* MAIN */
.main{
  flex:1;
  padding:20px;
}

/* CARDS */
.cards{
  display:flex;
  gap:15px;
  margin-bottom:20px;
}

.card{
  flex:1;
  padding:20px;
  border-radius:12px;
  color:white;
  text-align:center;
}

.total{background:#ff6a00;}
.pending{background:#ffb300;}
.resolved{background:#2ecc71;}

/* FORM */
.form{
  background:white;
  padding:20px;
  border-radius:12px;
  margin-bottom:20px;
}

/* SEARCH */
.search{
  margin-bottom:20px;
}

/* COMPLAINT GRID */
#complaints{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:20px;
}

/* BOX */
.box{
  background:white;
  padding:15px;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
}

.red{
  background:red;
  color:white;
  padding:5px 10px;
  border-radius:20px;
}

.green{
  background:green;
  color:white;
  padding:5px 10px;
  border-radius:20px;
}